<div #topbar
    id="layout-topbar">

  <a (click)="logoLink()" id="logo-wrap">
      <span class="logo">
          <img  src="../../assets/app-logo.png" alt="home">
        </span>
  </a>

  <div 
    class="search-wrapper" 
    *ngIf='isSearchRequired'>
     
    <input #s
        id="search" 
        type="text" 
        [placeholder]="url === '/create-route' ? 'Search place...' : 'Find route'"
        (keyup)="searchKeyup(s.value)">
    
    <div id="icon">
        <i class="material-icons">
            search
            </i>
          </div>
  </div>

      <auth-card></auth-card>

</div>