#name {
    font-size:2em;
    border-bottom:none;
    color:#5D6D7E; 
    margin-bottom:3px;
}
#name:focus {
    color:#34495E;
    border-bottom: none;
}
.opt-text {
    margin: 0 10px;
}
.opt {
    margin-bottom:8px;
}
.opt-input {
    height:1.3em !important; 
    width: 90% !important;
    border:1px solid #9e9e9ed3 !important;
    border-radius:3px !important;
    padding-left:5px !important;
    /* background-color:pink !important; */

}
.opt-input:disabled {
    background-color: #E5E8E8;
}
.opt-wrap{
    display: flex;
    justify-content: space-around;
    margin-bottom:10px;
}
.opt-item{
    width:45%;
}
#comment {
    height:5em;
    width:95%;
    color:#5D6D7E; 
    padding: 4px;
    border:1px solid #9e9e9ed3;
    border-radius:3px;
    outline: none;
    resize: none;
    margin: 0 0 5px 10px;
}
#comment:focus {
    color:#34495E;
}
#dist{
    float:right;
}