@import url('https://fonts.googleapis.com/css?family=Poppins');
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
body {
    margin:0;
    padding:0;
    background-color: #F7F9F9;
}
* {
    font-family: 'Poppins', sans-serif;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input:not([type]):focus:not([readonly]){
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.back-img{
    background-image:url("assets/img/main.jpeg");
}
.notvsbl{
    visibility: hidden;
}
.error-message{
    color: rgba(207, 30, 30, 0.863);
    text-align: center;
    margin-top: 20px;
}
.mat-progress-bar-buffer {
    background-color: rgba(72, 201, 175, 0.322);
}
.mat-progress-bar-fill::after {
    background-color: #48C9B0;
}
.mat-progress-bar-background {
    fill: transparent;
}
#map {
    margin: 5px 5px 5px 5px;
    height: 500px;
    min-width: 300px;
    border-radius:3px;
    border: 1px solid #CCD1D1;
}
#card {
    height:250px;
    width:480px;

    border: 1px solid rgb(186, 204, 212);
    border-radius:4px;
    background-color:rgba(247, 247, 247, 0.863);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}