<div id="route-elements">
    <div id="item-card">
      <element-card></element-card>
    </div>
    <div id="items">
      <!-- <div *ngIf="isStarted()"> -->
      <ng-container *ngFor="let element of elements">
          <ng-container [ngSwitch]='element.type'>
            <chip-point [Point]="element" (click)="picked(element)" *ngSwitchCase="'point'" ></chip-point>
            <chip-segment [Segment]="element" [Emitter]="pickEmitter" *ngSwitchCase="'segment'" ></chip-segment>
          </ng-container>
      </ng-container>
    <!-- </div> -->
    </div>
    <div id="route-buttons" *ngIf="isFinished">
      <button class="btn waves-effect waves-light blue-grey lighten-1" (click)="fillRoute()">
        Route
        <i class="material-icons right">timeline</i>
      </button>
      <button class="btn waves-effect waves-light blue-grey lighten-1" (click)="clearMap()">
        Clear
        <i class="material-icons right">clear</i>
      </button>
      <button class="btn waves-effect waves-light blue-grey lighten-1" 
        (click)="print()"
        >
        Print
        <i class="material-icons right">print</i>
      </button>
    </div>
  </div>

  <!-- <div *ngFor="let element of elements">
      <ng-container [ngSwitch]='element.type'>
          <point-editor #point *ngSwitchCase="'point'" [point]='element' (click)="point.onClick()"></point-editor>
          <segment-editor *ngSwitchCase="'segment'" [segment]='element'></segment-editor>
        </ng-container>
  </div> -->