<div class="menu" >
  <div *ngIf="!auth.isAuthenticated;else profile" class="auth">
    <button mat-button class="mbtn" (click)="login()">
      Sign In
    </button>
    <div id="or">or</div>
    <button mat-button class="mbtn" (click)="create()">Create Account</button>
  </div>
  <ng-template #profile>
    <div id="profile">
      <img src="../../../assets/img/acc_img.png" id="acc-img">
      <span id="user-name">{{name | name}}</span>
    </div>
      <div class="wrap">
          <div class="prof-btn" id="drop-down">
              <i class="material-icons">expand_more</i>
              <div id="drop-content">
                  <a class="drop-item" routerLink="/my-routes">My routes</a>
                  <!-- <a class="drop-item">item2</a> -->
              </div>
          </div>
          <div class="prof-btn" id="logout" (click)="logout()">
              <i class="material-icons">exit_to_app</i>
          </div>
          
        </div>
        
  </ng-template>
</div>