@media only screen and (min-width: 1800px) {
    .wrap {
       margin: 0 200px; 
    }
}

.wrap {
    display: flex;
    flex-wrap:wrap;
    /* border: 3px solid blueviolet; */
    padding:15px 20px;
    width:auto;
}
#map-area {
    min-width:800px;
    height: 700px;
    flex-grow: 11;
    order: 1;
    margin-right:5px;
    /* border: 1px solid blueviolet; */
}
#elements {
    flex-grow: 4;
    order: 2;
}


