<div id="wrap">
<h3>Sign In</h3>
<div class="input-field col s6">
  <input id="login" type="email">
  <label for="login">Email</label>
</div>
<div class="input-field col s6">
  <input id="password" type="password">
  <label for="password">Password</label>
</div>
<div class="btns">
<button class="btn waves-effect waves-light grey lighten-1" (click)="cancel()">
  <i class="material-icons">close</i>
</button><button class="btn waves-effect waves-light green lighten-1" >
  <i class="material-icons" style="margin:0 15px">arrow_forward_ios</i>
</button>
</div>
</div>
